.school-view-container {
 
    margin: auto;
    max-width: 400px;
    width: 90%; 
   height: 100%;
    flex-direction: column; 
    padding: 20px; 
}
.basic-single{
position: fixed;
}
.gcontainer {
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-columns: 3fr 7fr;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  input[type="text"] {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 60%;
    height: 20px;
    margin-right: 0.5rem;
  }
  
  button[type="submit"] {
    padding: 0.5rem;
    background-color: #19AE54;
;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  .filter-button{
    border: none;
    background-color: transparent;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    position: relative;
    width: 500px;
  }

  .filter-button.selected:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #19AE54;
  }
  .school-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
  }
  .major-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.major-box {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

 

  .school-details {
    .school-image {
     

      img {
     
        width: 100%;
        height: 100px;
      }

      div {
        h3 {
          margin: 0;
          font-size: 1.2rem;
          font-weight: bold;
        }

        p {
          margin: 5px 0;
          font-size: 1rem;
          color: #555;
        }
      }
    }

    .major-details {
      display: flex;
  flex-direction: column; 
  .sub-details-row {
    display: flex;
    
    justify-content: space-around; 
    margin-bottom: 10px; 
  }
      .sub-details {
        text-align: center;
        align-items: center;
        border: 1px solid #ccc; 
        border-radius: 30px;
        background-color: #f9f9f9;

        p {
       
          margin:  0;
          font-size: 1rem;
          color: #555;
        }

        p:last-child {
          font-weight: bold;
          margin-bottom: 5px;
        }
      }
      
     
    }
  }

  h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #4d79ff;
  }

  button {
    background-color: #4d79ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    
  }
}
