@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" );

:root {
  --main-color: black;
  --secondary-color: #6c757d;
  /* Định nghĩa thêm các biến khác */
}
body, html {
  width: 100%;
  height: 100%; // Đặt chiều cao của body và html là 100% để .container có thể chiếm toàn bộ chiều cao của màn hình
  margin: 0; // Xóa margin mặc định của body và html
  padding: 0; // Xóa padding mặc định của body và html
  font-family: 'Inter', sans-serif;
}

.header-container {
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 100px;
  width: 100vw; 

}

.header-line {
 
  width: 100%; // Chiều rộng của đường line là bằng với .header-container
  height: 2px; // Chiều cao của đường line
  background-color: #ccc; // Màu nền của đường line
  border: none; // Xóa viền của đường line

}
.container {
  height: 100px;
  width: 100vw; 
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.logo {
  width: 100%;
  height: 10px;
  background-color: grey;
  border-radius: 25px;
}
.b2{
  display: flex;
  align-items: center;
}
.avatar {
  width: 50px;
  height: 50px;
  background-color: grey; 
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}

.header-button {
  padding: 10px 20px; /* Tăng kích thước và khoảng cách */
  cursor: pointer; /* Biểu tượng chuột thay đổi */
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu */

   &:hover {
    background-color: #e0e0e0;  // Change color on hover
   }
   a{
    color: black;
   }
}
dropdown-content {
  display: none; 
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


@media (max-width: 768px) {
  .header-container, .container {
    flex-direction: column; /* Chuyển sang chế độ cột cho di động */
  }

  .b2, .logo, .avatar, .header-button {
    margin: 10px 0; /* Khoảng cách cho di động */
  }
}
